<header>
  <h1><%= @book.title %></h1>
</header>

<div class="mb-5">
  <%= simple_format @book.synopsis, class: "lead" %>
</div>

<h2 class="mb-3">Chapters</h2>

<div class="list-group mb-3" id="chapters">
  <%= render collection: @book.chapters, partial: "books/chapter", as: :chapter %>
</div>

<div class="list-group">
  <div class="list-group-item" id="new_chapter">
    <%= render "chapters/form", chapter: @book.chapters.build %>
  </div>
</div>
